$color-blue:#0080af;
$color-gray : #cfd4db;

$border-radius :5px;

body{
    font-family: "Open Sans",sans-serif;
}
input[type="text"]{
    outline: none;
}
.site-wrapper{
    width:96%;
    max-width: 1024px;
    margin: 0 auto;
}
.round-radius{
    -webkit-border-radius:$border-radius;
    -moz-border-radius:$border-radius;
    -ms-border-radius:$border-radius;
    border-radius:$border-radius;
}
.box-sizing{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

/*Search Widget*/
#search-section{
    padding:30px;
    h1{
        font-size: 26px;
        color:$color-blue;
    } 
    
    input[type="text"]{
        width:100%;
        @extend .round-radius;
        @extend .box-sizing;
        border:1px solid $color-gray;
        color:$color-gray;
        font-size: 18px;
        line-height: 25px;
        padding:11px 25px;
        display: block;
        margin-bottom: 30px;
    }
    
    #search-people{
        text-align: center;
        
        .search-item{
            display: inline-block;
                margin: 25px 93px;
            
            @media only screen and (max-width: 768px){
                margin: 25px 20px;
            } 
        }
    }
}


 